{% extends "template-base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="banner">
    <h2>Aprende y enseña con los mejores cursos online</h2>
</div>
<br>
<div class="presentation">
    <h3>¿Qué es el Sistema de Gestión de Cursos?</h3>
    <p>El Sistema de Gestión de Cursos es una plataforma online que te permite crear, ver, editar y eliminar cursos sobre diversos temas. Puedes acceder a los cursos desde cualquier dispositivo y aprender a tu propio ritmo. También puedes compartir tus conocimientos y experiencias con otros usuarios, y recibir feedback y apoyo. El Sistema de Gestión de Cursos es una herramienta ideal para el aprendizaje continuo y el desarrollo profesional.</p>
</div>
{% endblock %}